.App {
  text-align: center;

}

.App-logo {
  height: 30px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#projectList {
  background-color: black;
  list-style-type: none;
  height: 100vh;
  width: 200px;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
  box-shadow: 0px 2.1px 7px grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Set the flex container to a column layout */
}

#listBanner {
  background-color: black;
  box-shadow: 0px 2.1px 7px grey;
  height: 50px;
  width: 200px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  /* Enable vertical scrolling */
}



#listBanner button {
  margin-left: 5px;
  margin-bottom: 15px;

}

#listBanner p {
  color: #00ff00;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
  animation: neonGlow 1s infinite alternate;
  margin-left: 10px;
  font-size: large;
}

@keyframes neonGlow {
  to {
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00;
  }
}




#card:hover {
  background-color: #3a3f4a;
  /* Change the background color on hover */
}

button:hover {
  background-color: #3a3f4a;
  /* Change the background color on hover */
}

#delete:hover {
  background-color: #3a3f4a;
  /* Change the background color on hover */
}

#card {
  background-color: #282c34;
  font-size: small;
  box-shadow: 0px 2.1px 7px grey;
  height: 100px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 15px;

  /* Add this line to center vertically */
}

#container {
  display: flex;
  justify-content: space-evenly;
}

#projectName {
  font-size: small;
  box-shadow: 0px 2.1px 7px grey;
  height: 50px;
  width: 100vw;
  margin: left;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: left;
  background-color: black;
}

#projectName--editor {
  font-size: 10mm;
  background: black;
  text-align: center;
  border-radius: 8px;
  margin: 20px auto 0px auto;
  border: 4px solid rgb(164, 164, 164);
  display: block;
  transition: transform 0.3s ease-in-out;
&:hover {
  transform: scale(1.05);
  /* background: linear-gradient(45deg, #2d4055, #b9d3e8); */

}


}

* {
  color: white;
  outline-color: white;
}



#project-content {
  color: white;
  background-color: black;
  border-radius: 8px;
  border: 4px solid rgb(164, 164, 164);
  margin-top: 20px;
  transition: transform 0.3s ease-in-out;
&:hover {
  transform: scale(1.05);
  /* background: linear-gradient(45deg, #2d4055, #b9d3e8); */

}
}

button {
  background-color: #282c34;
  margin: right;
  border-radius: 5px;
  margin-top: 15px;
}

#statsContainer {
  align-self: center;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

#snake {
  display: flex;
  justify-content: center;
  margin-top: 10px;

}

#startButton {
  margin-bottom: 10px;
}

#snakeBanner {
  background-color: black;
  width: 100vw;
  height: 10vh;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

#snakeTimer {
  display: flex;
  justify-content: center;
}