.App {
  text-align: center;
}

.App-logo {
  height: 30px;
  pointer-events: none;
  /* margin: auto; */
  /* padding-left: 20px; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*----LOGO CLOCK ANIMATED-----*/
#clock-container {
  position: relative;
  width: 40px; /* Adjust as needed */
  height: 40px; /* Adjust as needed */
}

.clock-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.clock-hour-hand {
  position: absolute;
  top: 50%;
  left: 0%;
  transform-origin: center top;
  z-index: 2;
  height: 30px;
  width: 40px;
}

.clock-min-hand {
  position: absolute;
  top: 50%;
  left: 0%;
  transform-origin: center top;
  height: 40px;
  width: 40px;
  z-index: 3;
}

@keyframes rotateHour {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateMinute {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.clock-hour-hand {
  animation: rotateHour 10s linear infinite;
}

.clock-min-hand {
  animation: rotateMinute 5s linear infinite;
}
/*----END LOGO CLOCK ANIMATED---*/

#header-logo {
  height: 40px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#projectList {
  background-color: black;
  list-style-type: none;
  height: 100vh;
  width: 200px;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
  box-shadow: 0px 2.1px 7px grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Set the flex container to a column layout */
}

#listBanner {
  background-color: black;
  box-shadow: 0px 2.1px 7px grey;
  height: 50px;
  width: 200px;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;

  /* Enable vertical scrolling */
}

#listBanner button {
  margin-left: 5px;
  margin-bottom: 15px;
}

#listBanner p {
  color: #00ff00;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
  animation: neonGlow 1s infinite alternate;
  margin-left: 10px;
  font-size: large;
}

@keyframes neonGlow {
  to {
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00;
  }
}

#card:hover {
  background-color: #3a3f4a;
  /* Change the background color on hover */
}

button:hover {
  background-color: #3a3f4a;
  /* Change the background color on hover */
}

#delete:hover {
  background-color: #3a3f4a;
  /* Change the background color on hover */
}

#card {
  background-color: #282c34;
  font-size: small;
  box-shadow: 0px 2.1px 7px grey;
  height: 100px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 15px;

  /* Add this line to center vertically */
}

#container {
  display: flex;
  justify-content: space-evenly;
}

#projectName {
  font-size: small;
  box-shadow: 0px 2.1px 7px grey;
  height: 50px;
  width: 100vw;
  margin: left;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: left;
  background-color: black;
}

#projectName--editor {
  font-size: 10mm;
  background: black;
  text-align: center;
  border-radius: 8px;
  margin: 20px auto 0px auto;
  border: 4px solid rgb(164, 164, 164);
  display: block;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
    /* background: linear-gradient(45deg, #2d4055, #b9d3e8); */
  }
}

* {
  color: white;
}

#project-content {
  color: white;
  background-color: black;
  border-radius: 8px;
  border: 4px solid rgb(164, 164, 164);
  margin-top: 10px;
  transition: transform 0.3s ease-in-out;
  padding: 1cm;
  font-size: larger;
  &:focus {
    transform: scale(1.01);
    /* background: linear-gradient(45deg, #2d4055, #b9d3e8); */
  }
}

button {
  background-color: #282c34;
  margin: right;
  border-radius: 5px;
  margin-top: 15px;
}

#statsContainer {
  align-self: center;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

#snake {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#startButton {
  margin-bottom: 10px;
}

#snakeBanner {
  background-color: black;
  width: 100vw;
  height: 10vh;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

#snakeTimer {
  display: flex;
  justify-content: center;
}

#select {
  color: white;
  background-color: black;
  border-radius: 8px;

  margin-top: 20px;
  transition: transform 0.3s ease-in-out;

  &:focus {
    transform: scale(1.05);
    /* background: linear-gradient(45deg, #2d4055, #b9d3e8); */
  }
}

#colorButton {
  margin-left: 10px;
}

#graph {
  width: 100vh;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
}

.stats {
  height: 850px;
  flex-direction: column;
}

.total_time {
  display: flex;
  justify-self: flex-end;
  justify-content: center;
  font-size: 40px;
  /* font-family: "Verdana, Geneva, Tahoma, sans-serif"; */
  text-shadow: rgb(0, 0, 0) 1px 1px 5px;
}
