.App {
  text-align: center;

}

.App-logo {
  height: 40px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#projectList {
  background-color: black;
  list-style-type: none;
  height: 100vh;
  width: 200px;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
  box-shadow: 0px 2.1px 7px grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Set the flex container to a column layout */
}

#listBanner {
  background-color: black;
  box-shadow: 0px 2.1px 7px grey;
  height: 50px;
  width: 200px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;


  /* Enable vertical scrolling */
}

#listBanner button {
  margin-right: 10px;

}

#listBanner p {
  color: #00ff00;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
  animation: neonGlow 1s infinite alternate;
}

@keyframes neonGlow {
  to {
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00;
  }
}




#card:hover {
  background-color: #3a3f4a;
  /* Change the background color on hover */
}

button:hover {
  background-color: #3a3f4a;
  /* Change the background color on hover */
}

#delete:hover {
  background-color: #3a3f4a;
  /* Change the background color on hover */
}

#card {
  background-color: #282c34;
  font-size: small;
  box-shadow: 0px 2.1px 7px grey;
  height: 100px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 15px;

  /* Add this line to center vertically */
}

#container {
  display: flex;
  justify-content: space-evenly;
}

#projectName {
  font-size: small;
  box-shadow: 0px 2.1px 7px grey;
  height: 50px;
  width: 200px;
  margin: left;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: left;

}

* {
  color: white;
  outline-color: white;
}

#project-content {
  color: white;
  background-color: black;

}

button {
  background-color: #282c34;
  margin: right;
}

#delete {
  background-color: #282c34;
  margin-top: 10px;
}